 <div class="article-list">
       <div class="article">
        <a href="<%= link %>"><%= title %></a>
        <p>简介:<%= description  %> &nbsp; 发布时间:<%= date %> &nbsp; 修改时间:<%= modifyDate %></p>
       </div>
    </div>